html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
body {
    background-color: rgb(20, 20, 20);
    color: goldenrod;
}
.main {
    display: flex;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #000000, #3a3a3a);
    padding: 30px;
}
.main a {
    background-color: goldenrod;
    padding: 10px 40px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: medium;
    box-shadow: 0px 0px 3px goldenrod;
}
.main a:hover {
    box-shadow: 0px 0px 7px goldenrod;
    color: white;
    background-color: rgba(240, 204, 0, 0.938);
    transition: all 0.6s ease;
}
.links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
.links a {
    color: goldenrod;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
.links a:hover {
    color: white;
    border-color: white;
    transition: all 0.6s ease;
}
#sobre, #galeria, #preços, #serviços, #depoimentos, #faq, #contatos{
    text-align: center;
    margin-top: 100px;
    line-height: 1.6;
    font-weight: bold;
}
h2 {
    font-size: xx-large;
}
#sobre p {
    color: white;
    margin: 30px;
}
#galeria img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin: 50px;
    object-fit: cover;
    box-shadow: 0px 0px 5px gold;
}
#galeria p {
    margin: 5px 35px;
    color: white;
    font-weight: bolder;
}
#galeria h3 {
    font-weight: bolder;
    font-size: 25px;
}
#galeria img:hover {
    transform: translateY(5px);
    box-shadow: 0px 0px 15px gold;
    transition: all 0.7s ease;
}
.dpts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 35px;
    gap: 20px;
    font-weight: bolder;
}
.carp {
    background: linear-gradient(135deg, #000000, #3a3a3a);
    box-shadow: 2px 7px 10px #3a3a3a;
    border-radius: 5%;
    padding: 15px;
}
.carp:hover {
    box-shadow: 2px 7px 10px goldenrod;
    transform: translateY(5px);
    transition: all 0.6s ease;
}
.dpts p {
    color: white;
}
.cartoes-preços {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px;
}
.cartao {
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
}
.cartao:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.serviço {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
    gap: 40px;
    font-weight: bolder;
}
.ctts {
    font-size: larger;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 105px;

}
.ctts p {
    border-radius: 5px;
    padding: 10px;
    border-right: solid transparent 1px;
}
.ctts p:hover {
    border-radius: 20px;
    border-color: gold;
    transform: translateY(5px);
    transition: all 0.6s ease;
}
form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, black, #3a3a3a);
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}
form:hover {
    box-shadow: 0px 0px 10px;
    transform: translateY(5px);
    transition: all 0.6s ease;
}
form label {
    font-weight: bolder;
    font-size: larger;
    margin: 10px;
}
form input, #escolhas, #cmts{
    color: goldenrod;
    padding: 10px;
    outline: none;
    font-weight: bolder;
    border-radius: 10px;
    border: solid 3px ;
    background: linear-gradient(135deg, #000000, #3a3a3a);
}
form h2 {
    text-align: center;
}
.card {
    font-size: 14px;
    border: solid white;
    padding: 20px;
    border-radius: 10px;
}
.card:hover {
    color: goldenrod;
    border: solid goldenrod;
    transition: all 0.3s ease;
}
.footer {
    background: linear-gradient(135deg, #000000, #3a3a3a);
    text-align: center;
    padding: 20px;
}
.footer h3 {
    padding-bottom: 10px;
}
i {
    margin: 5px;
    color: goldenrod;
}
i:hover {
    transition: all 0.5s ease;
    color: white;
}
a {
    text-decoration: none;
}
@media (max-width:1200px) {
    .serviço {
        grid-template-columns: 1fr;
    }
}
@media (max-width:500px) {
    .header {
        font-size: small;
    }
    h2 {
        font-size: 25px;
    }
    #galeria img {
        width: 150px;
        height: 150px;
    }
    .header a {
        padding: 5px 10px;
    }
    .card {
        font-size: small;
    }
    form label{
        font-size: small;
    }
    form h2 {
        font-size: medium;
    }
    .dpts {
        grid-template-columns: 1fr;
    }
}
